@import url("https://fonts.googleapis.com/css?family=Karla&display=swap");

body {
  font-family: "Karla", sans-serif;
}

#main-container {
  display: flex;
}

#sidebar {
  background: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 0.5rem 1rem;
  color: #ffe260;
}

#sidebar a {
  font-size: 1.1rem;
  color: #fff;
}

#sidebar a:hover {
  color: #ffe260;
  transform: scale(1.2);
  text-decoration: none;
}

#expenses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 2rem 1rem;
}

#expenses .card {
  width: 250px;
  margin: 0.5rem 0.5rem;
  text-align: center;
}

#expenses .card-header {
  font-size: 1.2rem;
  font-weight: bold;
}

#expenses button,
#expense-form button {
  margin: 0 0.75rem;
  background: #333;
  border-color: #333;
  color: #ffe260;
}

#expenses button:hover,
#expense-form button:hover {
  background: #ffe260;
  color: #333;
}

/* Expense Form */
#expense-form {
  margin: 5rem 15rem;
}

.form-control:focus {
  border-color: #ffe260;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(255, 226, 96, 0.6);
}
